NetCoreApiWithEFCore/[Oo]bj/
NetCoreApiWithEFCore/[Bb]in/
NetCoreApiWithEFCore/App_Data
NetCoreApiWithEFCore/Depends/*/*
NetCoreApiWithEFCore/Packages
NetCoreApiWithEFCore/Logs

NetCoreApiWithEFCore/.vs/
NetCoreApiWithEFCore/.vscode/
.vs/